*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: block;
    margin-top: 15%;
    width: 50%;
    border: 1px solid white;
    padding: 10px;
}

.container .header{
    text-align: center;
    padding-bottom: 15px;
}


@media (orientation: portrait) {
    .container {
        margin-top: 50%;
    }

    .container .text-center .btn{
        margin-bottom: 10px;
    }

    .ms-4{
        margin-left: 0.5rem!important;
    }

}


