{% extends 'base.html' %}

{% block title %}{{ title }}{endblock}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">


<div class="shadow-sm p-3 mb-5 bg-body rounded" style="max-width:600px;">
    <form action="" method="POST">
        <div class="form-group">
            {{ form.name.label(class"form-label") }}
            {{ form.name(class"form-control") }}
        </div>
        
    </form>

</div>




{% endblock %}