{% extends 'base.html' %}


{% block title %}Profile-About{% endblock %}

{% block content %}

<div class="shadow-sm mx-lg-5 p-3 mb-1 bg-body rounded mt-2 d-flex align-items-center justify-content-between " style="max-width: 1500px;">
    <div class="input-group" style="max-width: 400px;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>
    <div class="text-md-end">
        <a href="{{ url_for('add_users') }}" class="btn btn-outline-success rounded-5">
            <span><i class="fa-sharp fa-solid fa-plus me-0"></i></span>
            <span>User</span>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for user in name %}
            <div class="col-lg-3 mt-lg-4">
                <div class="card mb-2 mt-2" style="width: 13.8rem;">
                    <img src="static/profile_pics/{{ user.profile_pic }}" class="card-img-top card-img-top img-thumbnail rounded-5" alt="...">
                    <div class="card-title text-center">{{ user.username | capitalize  }}</div>
                    <div class="card-body text-center">
                        <div>Employee ID: 0000{{ user.id  }}</div>
                        <div class="text-muted">{{ user.email  }}</div>
                        <a href="/update/{{ user.id }}" class="btn btn-primary mt-3">Update Profile</a>

                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}